.title {
    display: flex;
    font-family: monospace;
    justify-content: center;
    background: rgb(201, 149, 37);
    opacity: .8;
    height: 7rem;
    padding: 1rem;
    font-size: 40pt;
}

.container {
    background-color: bisque;
}

.image {
    height: 10rem;
    width: auto;
}