.title {
    display: flex;
    font-family: monospace;
    justify-content: center;
    background: rgb(201, 149, 37);
    opacity: .8;
    height: 7rem;
    padding: 1rem;
    font-size: 40pt;
}

.container {
    background-color: bisque;
}

.welcome-img {
    max-width: 600pt;
}

.index-img {
    max-width: 70pt;
}

.card-img {
    max-width: 110pt;
}

.create-button:hover {
    background-color: rgb(131, 131, 231);
}

.drink-list {
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8pt;
}

.like-button:hover {
    color:  red;
}